body {
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    user-select: none;
    -webkit-user-select: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px
}

#lists {
    display: flex;
    justify-content: center;
    font-family: "Red Hat Mono", monospace;
    gap: 40px;
    padding-left: 30px;
}

#lists-scroll {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.list {
    font-size: 14px;
    padding: 0 40px;
}

.list > .item {
    padding: 8px 12px;
    display: flex;
}

.list.-scroll {
    display: block;
    width: 250px;
    padding: 10px;
    height: 250px;
    overflow: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.list.-virtual {
    display: block;
    padding: 0;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
}

