#title {
    font-size: 100px;
    line-height: 100px;
    height: 100px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    letter-spacing: -0.05em;
    color: #000;
}

#title > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    top: -10px;
    transition: transform 0.1s;
}

#title > span[aria-disabled=true] {
    transition: left 0.2s, top 0.2s;
}

#title > span[aria-current=true] {
    transform: translate(0, -2px) scale3d(1.05,1.05,1.05);
}
