body {
    font-family: "Red Hat Text", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    user-select: none;
    -webkit-user-select: none;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px
}

#lists {
    display: flex;
    justify-content: center;
    font-family: "Red Hat Mono", monospace;
}

#lists > .list {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
    border: 1px solid #ccc;
    padding: 30px 40px;
}

#lists > .list:first-child {
    border-radius: 8px 0 0 8px;
}
#lists > .list:last-child {
    border-radius: 0 8px 8px 0;
}
#lists > .list:not(:first-child) {
    margin-left: -1px;
}

#lists > .list > .item {
    padding: 8px 12px;
}
