.item.-handle {
    align-items: center;
    gap: 8px
}

.item.-handle > i {
    font-size: 16px;
    color: #999;
    cursor: pointer;
}

.item.-handle > i:hover {
    color: #000;
}

.item.-handle[aria-disabled=true] {
    transition: transform 0.2s;
    color: #999;
}

.item.-handle[aria-current=true] {
    z-index: 1;
    color: #000;
}
.item.-handle[aria-current=true] > i {
    color: #000;
}
